<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ComponentTracker</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>com.servlets.UserAuthentication</servlet-name>
    <servlet-class>com.servlets.UserAuthentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.servlets.UserAuthentication</servlet-name>
    <url-pattern>/UserAuthenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.servlets.CreateComponent</servlet-name>
    <servlet-class>com.servlets.CreateComponent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.servlets.CreateComponent</servlet-name>
    <url-pattern>/CreateComponent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>com.servlets.UpdateComponent</servlet-name>
    <servlet-class>com.servlets.UpdateComponent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.servlets.UpdateComponent</servlet-name>
    <url-pattern>/UpdateComponent</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>session_timeout</param-name>
    <param-value>30</param-value>
  </context-param>
</web-app>